//  Font colors

$main-color: #2196f3;
$main-color-alt: #1787e0;

// Hover state

$hv-fade: #fafafa;

// Transitions
$main-transition: 300ms;

// Diemntions
$section-tb-padding: 6.25rem 0;
$section-b-margin: 5rem;
$title-font-size: 1.875rem;

// Background Colors
$section-background: #ececec;
